.navbar{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
}
.text{
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: center;
}
h1{
    margin-left: 10px;
}
h2{
    margin-right: 15px;
}