
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .center{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background: white;
    border-radius: 10px;
    left: 50%;
   box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2596be, #ce34ec);
    height: 100vh;
    overflow: hidden;
  }
  
  
  .center h1{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
  
  }
  .center form{
    padding: 0 40px;
  
  }
  
  .txt_field input{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
   
  
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    left: 5px;
    color: #adadad;
  
  }
  .txt_field span::before{
    content: '';
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
    position: absolute;
    top: 40px;
   
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
  
    text-align: center;
    color: #a6a6a6;
    cursor: pointer;
    margin-top: 100px;
   
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(120deg,#2596be, #ce34ec);
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    
  
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }
  .pass a{
    color: #2691d9;
    text-decoration: none;
  }